In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv('data.tsv',sep='\t', header=0)
df.tail()

            tconst  averageRating  numVotes
1070313  tt9916580            7.2         5
1070314  tt9916690            6.6         5
1070315  tt9916720            5.8        60
1070316  tt9916766            6.9        14
1070317  tt9916778            7.3        24

In [4]:
df.describe()

       averageRating      numVotes
count   1.070318e+06  1.070318e+06
mean    6.884317e+00  9.588359e+02
std     1.396673e+00  1.592951e+04
min     1.000000e+00  5.000000e+00
25%     6.100000e+00  9.000000e+00
50%     7.100000e+00  2.000000e+01
75%     7.800000e+00  7.800000e+01
max     1.000000e+01  2.279223e+06

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070318 entries, 0 to 1070317
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1070318 non-null  object
 1   averageRating  1070318 non-null  float64
 2   numVotes       1070318 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 24.5+ MB

In [6]:
less_256 = 0
between_256_65535 = 0
more_65536 = 0
for value in df['numVotes']:
    if value <= 255:
        less_256 += 1
    elif 255 < value <= 65535:
        between_256_65535 += 1
    else:
        more_65536 += 1

print(less_256, between_256_65535, more_65536)

933069 134272 2977